@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}
<html>
    <head>
        <title>@Model.Name</title>
    </head>
    <body>
        <h1>@Model.Name</h1>
        <div>@Model.Body</div>
    </body>
</html>